* {
    user-select: none;
}

body {
    font-family: sans-serif;
}

/* Header */

.header {
    text-align: center;
}

.heading {
    font-size: 72px;
}

/* Main */

.main {
    display: flex;
    align-items: top;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px;
}

.settings-form {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px 0 black;
    padding: 32px;
}

.picker-container {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;

    box-shadow: 0 0 5px 0 #000;
}

.colour-picker {
    display: block;
    width: 200%;
    height: 200%;
    border: none;
    transform: translate(-25%, -25%);
}

.colour-picker:hover { 
    cursor: pointer;
}

.colours-container {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 16px;
}

.colours-container .left,
.colours-container .right {
    display: flex;
    flex-direction: column;

    gap: 8px;

    font-size: 18px;

    align-items: center;
    justify-content: center;
}

.size-label {
    margin-top: 16px;
    margin-bottom: 4px;
    text-align: center;
    font-size: 18px;
}

.size-picker {
    -webkit-appearance: none;
    height: 16px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

.size-picker::-webkit-slider-thumb:hover {
    cursor: pointer;
}

.size-picker::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background: black;
}

.button {
    margin: 8px 0;
    padding: 8px 16px;
    font-size: 18px;
    border: 1px solid black;
    background: none;
}

.button:hover {
    background: #ebebeb;
    cursor: pointer;
}

.button.selected {
    background-color: rgb(205, 205, 205);
}

.container {
    display: grid;
    min-width: 512px;
    aspect-ratio: 1;
    box-shadow: 0 0 5px 0 black;
}

.grid {
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.drawing-options {
    display: flex;
    border: 1px solid black;
    margin: 8px 0;
}

.drawing-options input[type='radio'] {
    -webkit-appearance: none;
    margin: 0;
    padding: 0;
}

.drawing-options label {
    display: inline-block;
    padding: 16px 16px;
    text-align: center;
    transition: 0.5s;
}

input[type="radio"]:checked + label {
	background-color: rgb(230, 230, 230);
}

@media only screen and (max-width: 576px) {
    .container {
        min-width: 256px;
    }
}